@layer base {
	:root {
		--base-1: oklch(98.82% 0 0);
		--base-2: oklch(97.65% 0 0);
		--base-3: oklch(94.12% 0 0);
		--base-4: oklch(90.98% 0 0);
		--base-5: oklch(87.84% 0 0);
		--base-6: oklch(85.1% 0 0);
		--base-7: oklch(80.78% 0 0);
		--base-8: oklch(73.33% 0 0);
		--base-9: oklch(55.29% 0 0);
		--base-10: oklch(51.37% 0 0);
		--base-11: oklch(39.22% 0 0);
		--base-12: oklch(12.55% 0 0);
		--accent-1: oklch(99.4% 0.0037 90.38);
		--accent-2: oklch(98.7% 0.025 90.38);
		--accent-3: oklch(97.1% 0.0762 90.38);
		--accent-4: oklch(94.8% 0.1115 90.38);
		--accent-5: oklch(92.1% 0.1396 90.38);
		--accent-6: oklch(88.1% 0.1307 90.38);
		--accent-7: oklch(83% 0.1244 90.38);
		--accent-8: oklch(76.1% 0.142 90.38);
		--accent-9: oklch(88.1% 0.1909 90.38);
		--accent-10: oklch(85.1% 0.1768 90.38);
		--accent-11: oklch(57.1% 0.1438 90.38);
		--accent-12: oklch(35.4% 0.047 90.38);
		--background: oklch(98.82% 0 0);
		--foreground: oklch(12.55% 0 0);
		--card: oklch(97.65% 0 0);
		--card-foreground: oklch(12.55% 0 0);
		--popover: oklch(98.82% 0 0);
		--popover-foreground: oklch(12.55% 0 0);
		--primary: oklch(12.55% 0 0);
		--primary-foreground: oklch(98.82% 0 0);
		--secondary: oklch(94.12% 0 0);
		--secondary-foreground: oklch(39.22% 0 0);
		--muted: oklch(94.12% 0 0);
		--muted-foreground: oklch(39.22% 0 0);
		--accent: oklch(88.1% 0.1909 90.38);
		--accent-foreground: oklch(35.4% 0.047 90.38);
		--destructive: oklch(64.8% 0.15 29.23);
		--destructive-foreground: oklch(98.82% 0 0);
		--border: oklch(85.1% 0 0);
		--input: oklch(85.1% 0 0);
		--ring: oklch(88.1% 0.1909 90.38);
		--chart-1: oklch(88.1% 0.1909 90.38);
		--chart-2: oklch(85.1% 0.1768 90.38);
		--chart-3: oklch(83% 0.1244 90.38);
		--chart-4: oklch(76.1% 0.142 90.38);
		--chart-5: oklch(92.1% 0.1396 90.38);
		--radius: 0.5rem;
	}
	.dark {
		--base-1: oklch(6.67% 0 0);
		--base-2: oklch(9.8% 0 0);
		--base-3: oklch(13.33% 0 0);
		--base-4: oklch(16.47% 0 0);
		--base-5: oklch(19.22% 0 0);
		--base-6: oklch(22.75% 0 0);
		--base-7: oklch(28.24% 0 0);
		--base-8: oklch(37.65% 0 0);
		--base-9: oklch(43.14% 0 0);
		--base-10: oklch(48.24% 0 0);
		--base-11: oklch(70.59% 0 0);
		--base-12: oklch(93.33% 0 0);
		--accent-1: oklch(17.8% 0.0129 90.38);
		--accent-2: oklch(21% 0.0181 90.38);
		--accent-3: oklch(25.7% 0.0446 90.38);
		--accent-4: oklch(29.6% 0.0721 90.38);
		--accent-5: oklch(33.6% 0.082 90.38);
		--accent-6: oklch(38.7% 0.0793 90.38);
		--accent-7: oklch(45.3% 0.0827 90.38);
		--accent-8: oklch(53.6% 0.0975 90.38);
		--accent-9: oklch(86.5% 0.1768 90.38);
		--accent-10: oklch(83.4% 0.1768 90.38);
		--accent-11: oklch(87.4% 0.1768 90.38);
		--accent-12: oklch(93.6% 0.0728 90.38);
		--background: oklch(6.67% 0 0);
		--foreground: oklch(93.33% 0 0);
		--card: oklch(9.8% 0 0);
		--card-foreground: oklch(93.33% 0 0);
		--popover: oklch(6.67% 0 0);
		--popover-foreground: oklch(93.33% 0 0);
		--primary: oklch(93.33% 0 0);
		--primary-foreground: oklch(6.67% 0 0);
		--secondary: oklch(13.33% 0 0);
		--secondary-foreground: oklch(70.59% 0 0);
		--muted: oklch(13.33% 0 0);
		--muted-foreground: oklch(70.59% 0 0);
		--accent: oklch(86.5% 0.1768 90.38);
		--accent-foreground: oklch(17.8% 0.0129 90.38);
		--destructive: oklch(71.7% 0.17 29.23);
		--destructive-foreground: oklch(93.33% 0 0);
		--border: oklch(22.75% 0 0);
		--input: oklch(22.75% 0 0);
		--ring: oklch(86.5% 0.1768 90.38);
		--chart-1: oklch(86.5% 0.1768 90.38);
		--chart-2: oklch(87.4% 0.1768 90.38);
		--chart-3: oklch(83.4% 0.1768 90.38);
		--chart-4: oklch(53.6% 0.0975 90.38);
		--chart-5: oklch(45.3% 0.0827 90.38);
		--radius: 0.5rem;
	}
}
